<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Тест на личность</title>
    <link rel="stylesheet" href="static/css/index.css" />
  </head>
  <body>
    <div class="container">
      <form class="answer-form" method="POST" action="/answer">
        <div class="form-group">
          <label for="info">Тест на личность.</label>
          <p>Выбирайте число от 0 до 10. 0 - нет, а 10 - точное Да</p>
        </div>
        <div class="form-group">
          <label for="question1">Вопрос №1</label>
          <p>Перед каким-либо важным для меня событием я начинаю нервничать.</p>
          <input type="number" id="question1" name="question1" required />
        </div>
        <div class="form-group">
          <label for="question2">Вопрос №2</label>
          <p>Я работаю неравномерно, рывками.</p>
          <input type="number" id="question2" name="question2" required />
        </div>
        <div class="form-group">
          <label for="question3">Вопрос №3</label>
          <p>Я быстро переключаюсь с одного дела на другое.</p>
          <input type="number" id="question3" name="question3" required />
        </div>
        <div class="form-group">
          <label for="question4">Вопрос №4</label>
          <p>Если нужно, я могу спокойно подождать.</p>
          <input type="number" id="question4" name="question4" required />
        </div>
        <div class="form-group">
          <label for="question5">Вопрос №5</label>
          <p>
            Мне нужны сочувствие и поддержка, особенно при неудачах и
            трудностях.
          </p>
          <input type="number" id="question5" name="question5" required />
        </div>
        <div class="form-group">
          <label for="question6">Вопрос №6</label>
          <p>С ровесниками я несдержан и вспыльчив.</p>
          <input type="number" id="question6" name="question6" required />
        </div>
        <div class="form-group">
          <label for="question7">Вопрос №7</label>
          <p>Мне бывает нетрудно сделать выбор.</p>
          <input type="number" id="question7" name="question7" required />
        </div>
        <div class="form-group">
          <label for="question8">Вопрос №8</label>
          <p>
            Мне не приходится сдерживать свои эмоции - это получается само
            собой.
          </p>
          <input type="number" id="question8" name="question8" required />
        </div>
        <button type="submit">ответ</button>
      </form>
    </div>
  </body>
</html>
